body{
font-family: Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:350px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
margin-bottom:10px;
}

input{
width:90%;
padding:10px;
margin:6px;
border:1px solid #ccc;
border-radius:5px;
}

.buttons{
margin-top:10px;
}

button{
padding:10px 15px;
border:none;
border-radius:5px;
margin:5px;
cursor:pointer;
}

button:first-child{
background:#1e88e5;
color:white;
}

button:last-child{
background:#aaa;
color:white;
}

#resultBox{
margin-top:15px;
font-weight:bold;
padding:10px;
border-radius:5px;
}

.grade-scale{
margin-top:20px;
background:#f7f7f7;
padding:10px;
border-radius:8px;
text-align:left;
}